@{
    ViewBag.Title = "About Javista";
}
<h2>@ViewBag.Title.</h2>

<p>Javista est un cabinet de conseil et intégrateur CRM spécialiste de la solution Microsoft Dynamics CRM. Nous aidons nos clients à réaliser leurs projets #CRM</p>
