@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>

<address>
    <br />
    79, rue La Boétie<br />
    75008 - Paris<br />
    <abbr title="Phone">Phone:</abbr>
    +33 1 42 68 37 45
</address>

<address>
    <strong>Marketing:</strong> <a href="mailto:marketing@javista.com">marketing@javista.com</a>
</address>