@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Points De Fidélités</h1>
    <p class="lead">Points De Fidélités permet aux employés d'une entreprise de controler leurs points de fidélités recus grace a leurs activites sur les reseaux sociaux</p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Soyez Actifs</h2>
        <p>
            Utilisez les reseaux sociaux de l'entreprise pour presentez le domaine d'expertise de la compagnie. Postez les dernieres nouvelles technologiques utilisees dans 
            l'entreprise ainsi que les moments de divertissement.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Accumulez Vos Points</h2>
        <p>Vous recevrez des points de fidelite pour chaque post/retweet/like... que vous faites concernant la compagnie.</p>
    </div>
    <div class="col-md-4">
        <h2>Convertissez Vos Points</h2>
        <p>Avec vos points accumules vous pouvez les convertir en differentes recompenses comme un jour de vacance et plein d'autre cadeaux.</p>
    </div>
</div>