@model ContactManager.Models.Rewards
@{
    ViewBag.Title = "Convertir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Convertir</h2>

<select name="rewards">
    @{ 
        foreach(var reward in Model.rewards)
        {
            <option value="@reward.name">@reward.name (@reward.points)</option>
        }
    }
</select>
