@model ContactManager.Models.Employee

@{
    ViewBag.Title = "SendConversion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SendConversion</h2>


<h1>@Model.screen_name Score = @Model.fixScore</h1>

